.DS_Store
NuGet/
StardewValley/
after/
anipy-cli/
cava/
citra-emu/
cmus/
configstore/
doom/
emacs/
enchant/
fish/
htop/
init.lua
iterm2/
jgit/
jrnl/
kitty.conf
lua/
ncmpcpp/
old.conf
omf/
plugin/
powerline-shell/
pudb/
qBittorrent/
redyt/
spotify-tui/
stetic/
thefuck/
themes/
wandb/
weechat/
xbuild/
yarn/
